
HW/HW1/.ipynb_checkpoints/HW1_notebook-checkpoint.ipynb
HW/HW1/~$xt Analytics F2019 Assignment 1 (1).docx
HW/HW1/HW1_notebook.ipynb
HW/HW1/HW1_notebook.ipynb
HW/HW1/2500_comments_edmunds.csv
HW/HW1/.ipynb_checkpoints/HW1_notebook_matthew-checkpoint.ipynb
HW/HW1/Text Analytics F2019 Assignment 1 (1)_personal_note.docx
HW/HW1/~$xt Analytics F2019 Assignment 1 (1)_personal_note.docx
HW/HW1/5000_comments_edmunds.csv
Twitter Project/.ipynb_checkpoints/News_analysis_matthew-checkpoint.ipynb
Twitter Project/.ipynb_checkpoints/test_news_scraper-checkpoint.ipynb
Twitter Project/text_project_news.csv
Twitter Project/text_project_news_sub.csv
Twitter Project/test_news_scraper.ipynb
